.vcenter{
    position:absolute;
    left:50%;
    top:50%;
    width:600px;
    height:600px;
    margin:-300px 0 0 -300px;
}


h1 {
	font-size: 40px;
  font-weight: normal;
  font-family: 'Ubuntu';
}
